.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-items: center; 
    align-items: center;
}

.main-box {
    position: relative;
    height: 120px; 
    width: 150px; 
    background: var(--mahindra);
    box-sizing: border-main-box;
    padding: 15px; 
    transition: .5s;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.6s ease;
}

.main-box p {
	color: var(--white-color);
    margin-top: 10px;
	font-size: 16px;
}

.main-box h3 {
	font-size: 19px;
	text-transform: uppercase;
	color: var(--white-color);
}

.main-box h2 {
	font-size: 30px;
	text-transform: uppercase;
	color: var(--white-color);
}

.main-box:before, .main-box:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 0%;
	border: 5px solid var(--white-color);
	opacity: 0;
	transition: .5s;
	box-sizing: border-main-box;
}

.main-box:before {
	top: 0;
	left: 0;
	border-top-left-radius: 10px;
}

.main-box:after {
	bottom: 0;
	right: 0;
	border-bottom-right-radius: 10px;
}

.main-box:hover:before, .main-box:hover:after {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition-delay: .3s;
}

.main-box span {
	position: absolute;
	top: 0;
	left: -110%;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	transition: .5s;
	transform: skewX(10deg);
}

.main-box:hover span {
	left: 110%;
}