header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;   
    background: var(--mahindra-shadow-1);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid var(--mahindra-shadow-2);
    margin-bottom: 50px !important;
}

.logo {
    width: 100px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: var(--mahindra-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--mahindra-color);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.bth {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--mahindra-color);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--mahindra-color);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.bth:hover {
    background: var(--mahindra-color);
    color: var(--white-color);
}