@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root {
    --white-color: #f4f6ff;
    --mahindra: #dd052b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    text-decoration: none;
}

body {
    background: #fff;
}

#streaming {
    margin-top: 180px;
}
